 <!--start sidebar-->
<div class="col-lg-3 col-md-3 col-sm-4">
    <div class="widget account-details">
        <h2 class="widget-title">حساب</h2>
        <ul>
            <li class="active"><a href="@Url.Action("accountinformation","D_API")"> اطلاعات حساب </a></li>
            <li><a href="@Url.Action("myaccount2","D_API")">حساب من</a></li>
            <li><a href="@Url.Action("ChangePass","D_API")">تغییر رمز عبور</a></li>
            <li><a href="@Url.Action("addressBook","D_API")">آدرس ها</a></li>
            <li><a href="@Url.Action("orderHistory","D_API")">تاریخچه خرید</a></li>
            <li><a href="@Url.Action("reviewRating","D_API")">نظرات</a></li>
            <li><a href="@Url.Action("Returns","D_API")">درخواست های مرجوعی</a></li>
            <li><a href="@Url.Action("newsletter","D_API")">خبرنامه</a></li>
            @*<li><a href="myaccount-leftsidebar.html">Left Sidebar</a></li>*@
        </ul>
    </div>
</div>
<!--end sidebar-->
