@model ShoppingCMS_V002.Models.CustomerDitaile
@{
    ViewBag.Title = "accountinformation";
    Layout = "~/Views/Master/Design_Master.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">
    <section class="page-section">
        <div class="wrap container">
            <div class="row">
                <!--start main contain of page-->
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="information-title">اطلاعات حساب</div>
                    <div class="details-wrap">
                        <div class="block-title alt"> <i class="fa fa-angle-down"></i> تغییر اطلاعات حساب</div>
                        <div class="details-box">
                            <form class="form-delivery" action="#">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group"><input id="Name_inp" required type="text" placeholder="نام" class="form-control" value="@Model.Name"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group"><input id="Family_inp" required type="text" placeholder="نام خانوادگی" class="form-control" value="@Model.Familly"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group"><input id="Email_inp" required type="email" placeholder="ایمیل" class="form-control" value="@Model.Email"></div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group"><input id="Phone_inp" required type="text" placeholder="شماره موبایل" class="form-control" value="@Model.PhoneNum"></div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button class="btn btn-theme btn-theme-dark" onclick="return UpdateData()"> ذخیره </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end main contain of page-->
                <!--start sidebar-->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="widget account-details">
                        <h2 class="widget-title">حساب</h2>
                        <ul>
                            <li><a href="@Url.Action("myaccount2","D_API")">حساب من</a></li>
                            <li class="active"><a href="@Url.Action("accountinformation","D_API")"> اطلاعات حساب </a></li>
                            <li><a href="@Url.Action("ChangePass","D_API")">تغییر رمز عبور</a></li>
                            <li><a href="@Url.Action("addressBook","D_API")">آدرس ها</a></li>
                            <li><a href="@Url.Action("orderHistory","D_API")">تاریخچه خرید</a></li>
                            <li><a href="@Url.Action("reviewRating","D_API")">نظرات</a></li>
                            <li><a href="@Url.Action("Returns","D_API")">درخواست های تکمیل نشده</a></li>
                            <li><a href="#" onclick="return wishListFunction()">علاقه مندی ها</a></li>
                            @*<li><a href="myaccount-leftsidebar.html">Left Sidebar</a></li>*@
                        </ul>
                    </div>
                </div>
                <!--end sidebar-->

            </div>

        </div>
    </section>
</div>
<!-- /CONTENT AREA -->

<script>

    function UpdateData() {

        var Name_inp = $('#Name_inp').val();
        var Family_inp = $('#Family_inp').val();
        var Phone_inp = $('#Phone_inp').val();
        var Email_inp = $('#Email_inp').val();

        if (Name_inp != "" && Family_inp != "" && Phone_inp != "" && Email_inp != "") {

            PostJson1 = {
                'Name': Name_inp,
                'familly': Family_inp,
                'Email': Email_inp,
                'Phonenum': Phone_inp
            };

            $.ajax({
                url: '/API_Functions/UpdateCustomerData',
                type: "post",
                data: JSON.stringify(PostJson1),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response == "Success") {


                        danger("مشتری عزیز", "اطلاعات شما با موفقیت تغییر کرد");

                        location.reload(true);

                    } else {
                        danger("مشتری عزیز", "لطفا ابتدا وارد حساب کابری خود شوید");
                    }


                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                    return "";
                }
            });


        } else {
            danger("مشتری عزیز", "لطفا همه ی مقادر ورودی را پر کنید");
        }

        return false;

    }

</script>