
@{
    ViewBag.Title = "newsletter";
    Layout = "~/Views/Master/Design_Master.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">
    <section class="page-section">
        <div class="wrap container">
            <div class="row">
                <!--start main contain of page-->
                <div class="col-lg-9 col-md-9 col-sm-8">
                    <div class="information-title">Your Password</div>
                    <div class="details-wrap">
                        <div class="block-title alt"> <i class="fa fa-angle-down"></i>عضویت یا لغو عضویت در خبرنامه</div>
                        <div class="details-box">
                            <form class="form-delivery" action="#">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label> خبرنامه ارسال شود؟ </label>
                                            <label class="radio-inline"> <input type="radio" name="optradio">بله </label>
                                            <label class="radio-inline"><input type="radio" name="optradio">خیر</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <button class="btn btn-theme btn-theme-dark" type="submit"> ذخیره </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end main contain of page-->
                <!--start sidebar-->
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="widget account-details">
                        <h2 class="widget-title">حساب</h2>
                        <ul>
                            <li><a href="@Url.Action("myaccount2","D_API")">حساب من</a></li>
                            <li><a href="@Url.Action("accountinformation","D_API")"> اطلاعات حساب </a></li>
                            <li><a href="@Url.Action("ChangePass","D_API")">تغییر رمز عبور</a></li>
                            <li><a href="@Url.Action("addressBook","D_API")">آدرس ها</a></li>
                            <li><a href="@Url.Action("orderHistory","D_API")">تاریخچه خرید</a></li>
                            <li><a href="@Url.Action("reviewRating","D_API")">نظرات</a></li>
                            <li><a href="@Url.Action("Returns","D_API")">درخواست های تکمیل نشده</a></li>
                            <li><a href="#" onclick="return wishListFunction()">علاقه مندی ها</a></li>
                            @*<li><a href="myaccount-leftsidebar.html">Left Sidebar</a></li>*@
                        </ul>
                    </div>
                </div>
                <!--end sidebar-->

            </div>

        </div>
    </section>
</div>
<!-- /CONTENT AREA -->
