@using ShoppingCMS_V002.Models.D_APIModels
@model List<ShoppingCart_item_CustomerPortal>
@{
    ViewBag.Title = "Returns";
    Layout = "~/Views/Master/Design_Master.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">
    <section class="page-section">
        <div class="wrap container">
            <div class="row">
                <!--start main contain of page-->
                <div class="col-md-12">
                    <div class="information-title">درخواست های تکمیل نشده</div>
                    <div class="details-wrap">
                        <div class="details-box orders">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="25%">تصویر</th>
                                        <th width="12%">تعداد</th>
                                        <th width="25%">نام محصول</th>
                                        <th width="15%"> قیمت کل</th>
                                        <th width="12%">شماره سفارش</th>
                                        <th width="10%">وضعیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {


                                        <tr>
                                            <td class="image"><a href="@Url.Action("Product_Detail","D_API",new {Id=item.Id })" class="media-link"><i class="fa fa-plus"></i><img style="width:50%; height:auto" alt="" src="@item.ImagePath"></a></td>
                                            <td class="quantity">x @item.number</td>
                                            <td class="description">
                                                <h4><a href="@Url.Action("Product_Detail","D_API",new {Id=item.Id })">@item.Title</a></h4>
                                                <h6>@item.property</h6>
                                            </td>
                                            <td class="total">@item.total </td>
                                            <td class="order-id"> @item.PaymentToken </td>
                                            <td class="order-status">
                                                <a style="margin-bottom:7%" href="@Url.Action("Product_Detail","D_API",new {Id=item.Id })" class="btn btn-theme btn-theme-dark">سفارش </a>
                                                @if (item.Done == 0)
                                                {
                                                    <span class="return-request"> تکمیل نشده </span>
                                                }


                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            <div>
                                <a href="@Url.Action("accountinformation","D_API")" class="btn btn-theme"> بازگشت به اطلاعات حساب </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end main contain of page-->
            </div>
        </div>
    </section>
</div>
<!-- /CONTENT AREA -->
