@model ShoppingCMS_V002.ModelViews.D_APIModelViews.ShoppingCartModelView
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Master/Design_Master.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                <h1>فاکتور</h1>
                <br>
            </div>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE -->
    <section class="page-section color">
        <div class="container">


            <h3 class="block-title alt"><i class="fa fa-angle-down color"></i>لیست سفارشات</h3>
            <div class="row orders">
                <div class="col-md-12">
                    <div id="CustomerId" style="display:none">@Model.FactorModel.CustomerId</div>
                    <div id="FactorId" style="display:none">@Model.FactorModel.Id</div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="4%">ردیف</th>
                                <th width="23%">تصویر</th>
                                <th width="15%">نام محصول</th>
                                <th width="10%">قیمت واحد</th>
                                <th width="8%">تعداد در کارتن</th>
                                <th width="10%">قیمت کارتن</th>
                                <th width="20%">تعداد سفارش</th>
                                <th width="10%">مجموع</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FactorModel.items)
                            {
                                <tr>
                                    <td style="display:none" id="Id">@item.Id</td>
                                    <td class="quantity">@item.Num</td>
                                    <td class="image"><a class="media-link" href="#"><i class="fa fa-plus"></i><img style="width:50%; height:auto" src="@item.ImagePath" alt="" /></a></td>
                                    <td class="description">
                                        <h4><a href="#">@item.Title</a></h4>
                                        @item.property
                                    </td>
                                    <td class="total">@item.PricePerQ @Model.FactorModel.MoneyQuantity </td>
                                    <td class="total">@item.Quantity</td>
                                    @if (item.PriceXQ == item.PriceOff)
                                    {
                                        <td class="total">@item.PriceOff @Model.FactorModel.MoneyQuantity</td>
                                    }
                                    else
                                    {
                                        <td class="total">
                                            <p><del> @item.PriceXQ @Model.FactorModel.MoneyQuantity</del></p>
                                            <p><ins> @item.PriceOff @Model.FactorModel.MoneyQuantity</ins></p>
                                        </td>
                                    }
                                    <td class="quantity">
                                        <input class="form-control qty ; col-md-5" type="number" step="1" min="1" name="quantity" value="@item.number" title="Qty">
                                    </td>
                                    <td class="total">@item.total @Model.FactorModel.MoneyQuantity <button onclick="return deleteItem(@item.Id)"><i class="fa fa-close"></i></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

            <h3 class="block-title alt"><i class="fa fa-angle-down color"></i>مشخصات دریافت کننده </h3>
            <form action="#" class="form-delivery">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group"><input id="Name_inp" class="form-control" type="text" placeholder="نام"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input id="Family_inp" class="form-control" type="text" placeholder="نام خانوادگی"></div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="form-group">< input class="form-control" type="text" placeholder="کد ملی"></div>
                        </div>*@
                    <div class="col-md-3">
                        <div class="form-group selectpicker-wrapper">
                            <select id="OstanSelect" class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select" onchange="CityChange()">
                                @foreach (var item in Model.Ostan)
                                {
                                    <option value="@item.Id">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group selectpicker-wrapper">
                            <Omd id="NoAcc">
                                <select id="CitySelect1" class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">
                                    <option value="-1">نا مشخص</option>
                                </select>
                            </Omd>
                            <Omd id="hasAcc">

                            </Omd>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group"><input id="Address_inp" class="form-control" type="text" placeholder="آدرس"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input id="Address_hint_inp" class="form-control" type="text" placeholder="کد پستی"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input id="Phone_inp" class="form-control" type="text" placeholder="تلفن تماس"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"><input id="Email_inp" class="form-control" type="text" placeholder="آدرس ایمیل ( اختیاری )"></div>
                    </div>
                </div>
            </form>
            <br>

            <h3 class="block-title alt"><i class="fa fa-angle-down color"></i>تسویه حساب</h3>
            <form action="#" class="form-sign-in">
                <div class="row ">

                    <div class="col-md-12">

                        <div class="shopping-cart;row orders">
                            <table>
                                <tr>
                                    <td>جمع فاکتور:</td>
                                    <td id="totality">@Model.FactorModel.totality @Model.FactorModel.MoneyQuantity</td>
                                </tr>
                                <tr>
                                    <td>مالیات بر ارزش افزوده (%9): </td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td><strong>جمع کل:</strong></td>
                                        <td><div id="deposit">@Model.FactorModel.Deposit</div> @Model.FactorModel.MoneyQuantity</td>
                                    </tr>
                                </tfoot>
                            </table>
                            @*<div>
                                    <div class="col-md-2">
                                        <input class="form-control qty" type="text" placeholder="کد تخفیف" />
                                    </div>
                                    <div class="col-md-1"><button class="btn btn-theme btn-theme-dark btn-block">ثبت</button></div>
                                </div>*@
                            <br><br>


                        </div>
                    </div>
                    <button class="btn btn-theme btn-theme-dark btn-block" onclick="return FinishFactor()">پرداخت</button>


                </div>
            </form>





        </div>
    </section>
    <!-- /PAGE -->



</div>
<!-- /CONTENT AREA -->
@Scripts.Render("~/bundles/omd/jquery2");
<script>
    $(document).ready(function () {

        $('#CitySelect').prop("disabled", true);
    });


    function CityChange() {
        var Ost = $('#OstanSelect').val();
        alert(Ost);
        $('#CitySelect').prop("disabled", false);


        PostJson = {
            'Cat': 'City',
            'Id': Ost
        };

        $.ajax({
            url: '/API_Functions/City',
            type: "post",
            data: JSON.stringify(PostJson),
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                var token = response;
                if (token.length > 0) {
                    $("#hasAcc").hide(300);
                    var s =
                        '<select id="CitySelect" class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select">';
                    for (var i = 0; i < token.length; i++) {

                        s += ' <option value="' + token[i].Id + '">' + token[i].Value + '</option>';
                    }
                    s += '</select>';
                    $("#hasAcc").html(s);
                    $("#NoAcc").hide(300);
                    $("#hasAcc").show(300);
                    $('#CitySelect').selectpicker();
                } else {
                    $("#NoAcc").show(300);
                    $("#hasAcc").hide(300);
                }


            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });


    }


    function deleteItem(Id) {
    PostJson1 = {
        'itemId': Id
    };

    $.ajax({
        url: '/API_Functions/deleteItem',
        type: "post",
        data: JSON.stringify(PostJson1),
        contentType: "application/json; charset=utf-8",
        success: function (response) {
            if (response == "Success") {

                location.reload(true);
            } else {
                console.log(response)
            }


        },
        error: function (jqXHR, textStatus, errorThrown) {
            alert(textStatus);
            return "";
        }
    });


}


function FinishFactor() {
    var CustomerId = $('#CustomerId').text();
    var FactorId = $('#FactorId').text();
    var Name_inp = $('#Name_inp').val();
    var Family_inp = $('#Family_inp').val();
    var CitySelect = $('#CitySelect').val();
    var Address_inp = $('#Address_inp').val();
    var Address_hint_inp = $('#Address_hint_inp').val();
    var Phone_inp = $('#Phone_inp').val();
    var Email_inp = $('#Email_inp').val();
    var deposit = $('#deposit').text();
    var PaymentToken = "";
    var PaymentSerial = "";

    if (Name_inp != "" && Family_inp != "" && CitySelect != "0" && Address_inp != "" && Phone_inp != "" && Address_hint_inp != "") {

        PostJson1 = {
            'Name': Name_inp,
            'familly': Family_inp,
            'cityId': CitySelect,
            'factorId': FactorId,
            'Address': Address_inp,
            'Email': Email_inp,
            'Phonenum': Phone_inp,
            'CodePosti': Address_hint_inp,
            'PaymentToken': PaymentToken,
            'PaymentSerial': PaymentSerial,
            'CustomerId': CustomerId,
            'depositMoney': deposit
        };

        $.ajax({
            url: '/API_Functions/AddFactor',
            type: "post",
            data: JSON.stringify(PostJson1),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response == "Success") {

                    alert("خرید شما با موفقیت انجام شد");
                    var url ="@Url.Action("Index", "D_API", null, Request.Url.Scheme)";
                    location.href = url;

                    deleteCookie("OMD_Factor");
                } else {
                    console.log(response)
                }


            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
                return "";
            }
        });


    } else {
        alert("لطفا همه ی مقادر ورودی را پر کنید");
    }

    return false;

}

</script>